

$primary-color: #3498e1;
$primary-color-light:#95C9EF;
$primary-color-dark:#1867A0;

$secondary-color:#1abc9c; //peppermint

$bg-primary: #F2F4F8;

$light-grey: #D4D4D4;
$mid-grey: #9B9B9B;
$dark-grey: #4A4A4A;


$font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;