//----------------------- PARTIALS ----------------------
@import "bootstrap_overrides";
@import "common";
@import "page_index";
@import "page_tag";
@import "param";

//--------------------- USER PAGE -----------------------
#am-usermain-left{
  width: 25%;
  background: $bg-primary;
  float:left;
}

#am-usermain-right{
  width: 75%;
  overflow: auto;
}

#am-usermain-right .col-md-4{
  padding: 0 5px;
  width: 33.3%;
  display: block;
  float: left;
}

.am-usermain-well{
  background: $bg-primary;
  border-radius: 5px;
  border: 1px solid $mid-grey;
  margin: 20px 15px;
  padding: 15px;
}

.am-usermain-well-oneitem{
  padding: 10px 0;
  border-bottom: 1px solid $mid-grey;
  overflow: auto;

}

.am-usermain-well-oneitem>span:first-child{
  display: block;
  margin-bottom: 5px;
}

.am-usermain-well-oneitem:last-child{
  border-bottom: 0px;
  margin-bottom: -10px;
}

#am-usermain-well-profile-pic{
  height: 178px;
  width: 178px;
  background-image:url("../resources/index/staruser/tc.png");
  background-size: 178px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: -5px;
}

#am-usermain-well-profile-name{

}

#am-usermain-well-profile-description{
  margin-bottom:5px;
}

.am-usermain-well-profile-list-oneitem{

}

.am-usermain-well-profile-stats-oneitem{
  @extend .am-h4;
  width: 33.33%;
  float: left;
  text-align: center;
}

.am-usermain-well-profile-stats-oneitem div{
  font-weight: bold;
  margin-bottom: -10px;
}

.am-usermain-well-profile-stats-oneitem span{
 @extend .am-h7;
}

.am-usermain-well-summary-oneitem{
  margin: 5px 0;
  font-size: 12px;
}
.am-usermain-well-summary-oneitem .fa{
  @extend .am-summary-icon;
}

.am-usermain-well-summary-oneitem span:last-child{
  font-size: 10px;
}

.am-usermain-well-summary-oneitem strong{
  margin-right: 5px;
}

.am-usermain-well-profile-summary-oneitem-question{
  background: #58B957;
}

.am-usermain-well-profile-summary-oneitem-answer{
  background: #3E8ACC;
}


.am-usermain-well-profile-summary-oneitem-reputation{
  background: #56C0E0;
}


.am-usermain-well-profile-summary-oneitem-badge{
  background: #F2AE43;
}


.am-usermain-well-profile-summary-oneitem-tag{
  background: #DB524B;
}


.am-usermain-well-profile-summary-oneitem-vote{
  background: #1ABC9C;
}

.am-usermain-well-pinboard-typebar{
  width: 100%;
  background: white;
  overflow: auto;
  border-radius: 2px;
}

.am-usermain-well-pinboard-typebar-oneitem{
  text-align: center;
  float: left;
  width: 33.33%;
  padding: 1px 1px;
}

.am-usermain-well-pinboard-typebar-oneitem:active{
  background: $primary-color-light;
}

.am-usermain-well-pinboard-list{

}

.am-usermain-well-pinboard-list .fa-li{
  color: $light-grey !important;
  font-size: 1.2em;
  margin-left: -4px;
}

.am-usermain-well-pinboard-list span{
  margin-left: -10px;
}

.am-usermain-well-help-oneitem{
  margin-top: 10px;
}

.am-usermain-well-help-oneitem .fa{
  font-size: 2em;
  color: $mid-grey;
  width: 20%;
  float:left;
}

.am-usermain-well-help-oneitem div{
  display: inline-block;
  width: 80%
}


.am-usermain-well-title{
  @extend .am-h3;
  padding: 0 0 5px;
  border-bottom: 1px solid $mid-grey;
}

.am-usermain-well-title-question{
  font-size: 12px;
  display: block;
}

.am-usermain-well-close{

}

.am-usermain-well-icon{
  border-radius: 5px;
}

.am-usermain-well-icon-cateogry{
  @extend .am-usermain-well-icon;
  background: #DB524B;
}

.am-usermain-well-icon-post{
  @extend .am-usermain-well-icon;
  background: #F5A623;
}

.am-usermain-well-icon-tag{
  @extend .am-usermain-well-icon;
  background: $secondary-color;
}

.am-usermain-well-icon-question{
  @extend .am-usermain-well-icon;
  background: $primary-color;
}



#am-usermain-left .am-usermain-well{
  background: $light-grey;
}





.am-usermain-itemwell{
  @extend .am-usermain-well;
  padding: 10px 0px;
}


.am-usermain-well-icon-cateogry{
  @extend .am-summary-icon;
  background: #DB524B;
  font-size:18px;
  padding-top:2px;
}

.am-usermain-well-icon-post{
  @extend .am-summary-icon;
  background: #F5A623;
  font-size:18px;
  padding-top:2px;
}

.am-usermain-well-icon-tag{
  @extend .am-summary-icon;
  background: #1ABC9C;
  font-size:18px;
  padding-top:2px;
}

.am-usermain-well-icon-question{
  @extend .am-summary-icon;
  background: #3498E1;
  font-size:18px;
  padding-top:2px;
}

.am-usermain-itemwell .am-usermain-well-oneitem{
  padding: 10px;
}

.am-usermain-itemwell .glyphicon-remove{
  font-size: 12px;
  position: absolute;
  right: 0px;
  margin-right: 25px;
  margin-top: -5px;
  top: inherit;
  color: $light-grey;
}


.am-usermain-itemwell .am-usermain-well-title{
  padding: 0px 10px 5px;
}

.am-usermain-itemwell-picsection{
  height: 150px;
  border-bottom: 1px solid $light-grey;
  box-sizing: border-box;
}

.am-usermain-itemwell-picsection-main{
  width: 150px;
  background-image:url("../resources/index/staruser/shuai1.png");
  background-size: 150px;
  height: inherit;
  width: 148px;
  float:left;
}

.am-usermain-itemwell-picsection-side{
  height: 50px;
  width: 49px;
  background: yellow;
  float: right;
  display: inline-block;
  background-size: 49px 50px;
}

.am-usermain-itemwell-picsection .am-usermain-itemwell-picsection-side:nth-child(2){
  background-image:url("../resources/index/staruser/qq.png");
}

.am-usermain-itemwell-picsection .am-usermain-itemwell-picsection-side:nth-child(3){
  background-image:url("../resources/index/staruser/kelvin.png");
}

.am-usermain-itemwell-picsection .am-usermain-itemwell-picsection-side:nth-child(4){
  background-image:url("../resources/index/staruser/shuai2.png");
}

.am-usermain-itemwell-statssection{
  padding: 10px;
  overflow: auto;
}

.am-usermain-itemwell-statssection-oneitem{
  width: 50%;
  float: left;
}

.am-usermain-itemwell-statssection-oneitem .fa{
  @extend .am-summary-icon;
  margin-top: 5px;
  background: $mid-grey;
}

.am-usermain-itemwell-statssection-oneitem span{
  font-size: 12px;
}

.am-usermain-itemwell-subtitle{
  border-bottom: 1px solid $light-grey;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.am-usermain-itemwell-qora{

}

.am-usermain-itemwell-qora span{
  margin-bottom: 5px;
  display: block;
  font-size: 12px;
}

.am-usermain-itemwell-qora .glyphicon{
  float:left;
  color: $light-grey;
  font-size: 1.5em;
  margin-top: 5px;
  margin-right: 5px;
}

.am-usermain-itemwell-qora-oneitem{
  display: block;
  overflow: auto;
  margin-bottom: 5px;

}

.am-usermain-itemwell-qora-signoff{
  @extend .am-h6;
  float:right;
  color: $mid-grey;
}




//-------------------- SEARCH PAGE ----------------------
#am-search-input input{
  background: $light-grey;
  color: white;
  width: 75%;
  float: left;
  margin-right: 15px;
}

#am-search-go{
  margin-left: 10px;
  background: $primary-color;
  font-weight: bold;
  color: white;
}

#am-search-input .btn:last-child{
  width: 15%;
  float: right;
  font-weight: bold;
}


#am-search-result-content{
  margin-top: 40px;
}

#am-search-result-number{
  display: inline-block;
  position: absolute;
  margin-top: 40px;
  margin-left: 10px;
}

.am-search-oneitem {
  padding: 10px;
  border-bottom: 1px solid #d4d4d4;
}

.am-search-oneitem:first-child {
  margin-top: -20px;
}

.am-search-oneitem:last-child {
  border-bottom: 0px;
  margin-bottom: 20px;
}

.am-search-oneitem .glyphicon{
  font-size: 2.2em;
  color: white;
  margin-right: 10px;
}

.am-search-oneitem-stats{
  width: 15%;
  display: block;
  background: $light-grey;
  float: left;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
}

.am-search-oneitem-stats-oneitem{
  height: 50px;
  width: 125px;
  display: inline-block;
  background: #3498e1;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}

.am-search-oneitem-stats-oneitem:last-child{
  margin-bottom: 0px;
}

.am-search-oneitem-stats-oneitem-number{
  position: absolute;
  font-size: 18px;
  margin-top: -3px;
}

//----------------------- Q/A PAGE ----------------------
.am-qnacommon-oneitem{
  border-bottom: 1px solid $light-grey;
  padding: 25px 10px 20px;
  overflow: auto;
}

.am-qnacommon-oneitem:last-child{
  border-bottom: 0px;
}

.am-qnacommon-oneitem .glyphicon{
  font-size: 2.2em;
  color: white;
  margin-left: 6px;
  margin-bottom: 16px;
}

.am-qnacommon-oneitem .col-md-3{
  padding: 0px;
}

.am-qnacommon-oneitem .col-md-9{
  padding: 0px;
  margin-left: -40px;
}



.am-qnacommon-oneitem-stats{
  float:left;
  margin-right: 15px;
}

.am-qnacommon-oneitem-stats-oneitem{
  height: 120px;
  width: 54px;
  display: inline-block;
  background: #d4d4d4;
  padding: 15px 5px;
  border-radius: 5px;
  font-weight: bold;
}

.am-qnacommon-oneitem-stats-oneitem:active{
  background: $primary-color;
}

.am-qnacommon-oneitem-stats-oneitem span:nth-child(3){
//  margin-left: 5px;
}

.am-qnacommon-oneitem-stats-oneitem-number{
  @extend .am-h4;
  margin-left: 5px;
}


.am-qnacommon-oneitem-content{

}

.am-qnacommon-oneitem-title{

}

.am-qnacommon-oneitem-details{
  margin: 5px 0;
}

.am-qnacommon-oneitem-tag{

}

.am-qnacommon-oneitem-user{
  position: relative;
  top: -40px;
  left: -130px;
}





//----------------------- TAG PAGE ----------------------

#am-tagcommon-description{
  margin-top: -30px;
  border-bottom: 1px solid $light-grey;
  padding: 10px 10px;
}

#am-tagcommon-description-option{
  margin: 5px 0 10px;
}

#am-tagcommon-searchbar{
  width: 200px;
  position: relative;
  float: right;
  margin-top: -15px;
  margin-right: 5px;
}

#am-tagcommon-searchbar input{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#am-tagcommon-searchbar-backspace{
  width: 220px;
  background: white;
  position: absolute;
  float: right;
  right: -5px;
  display: inline-block;
  height: 30px;
}

#am-taglist-categorylist{
  background: $bg-primary;
  border-bottom: 1px solid $light-grey;
  overflow: auto;
}

.am-tagcommon-categorylist-oneitem{
  float:left;
  padding: 5px 15px;
}

.am-tagcommon-categorylist-oneitem:active{
  background: $primary-color;
  color:white;
}

.am-tagcommon-categorylist-search{
  float:right;
  height: 26px;
  margin-top: 5px;
  margin-right: 15px;
}

.am-tagcommon-categorylist-search input{
  height: 26px;
}

.am-taglist-content-onerow{
  border-bottom: 1px solid $light-grey;
  overflow: auto;
}

.am-taglist-content-onerow:last-child{
  border-bottom: 0px;
}

.am-taglist-content-oneitem{
  padding: 20px 15px 10px 5px;
  overflow:auto;
}

.am-taglist-content-oneitem-badge{
  background: $secondary-color;
  border-radius: 5px;
  color: white;
  display: inline-block;
  float: left;
  padding: 3px 6px;
  margin-right: 5px;
}

.am-taglist-content-oneitem-badge-img{
  height: 20px;
  width: 20px;
  display: inline-block;
  background: $light-grey;
  margin-top: 3px;
  border-radius: 5px;
  box-sizing: border-box;
}

.am-taglist-content-oneitem-badge-count{
  position: relative;
  margin-top: 10px;
}

.am-taglist-content-oneitem-description{
  margin: 10px 0;
}

.am-taglist-content-oneitem-stats{
  color:$mid-grey
}

.am-tagdetail-description{
  background: $bg-primary;
}

#am-tagdetail-content{

}

//--------------------- FRAMEWORKING --------------------


.am-container{
  width:1040px;
  margin: auto;
}

#am-header{
  background-color: $bg-primary;
  height: 45px;
  border-bottom: 2px solid white;
}

#am-header-content{
  @extend .am-container;
}

.am-header-content-option-item{
  float: left;
  border-right: 2px grey solid;
  margin-right: 10px;
  padding-right: 10px;
}

#am-header-explore{

}

#am-header-explore:hover{
  background: $light-grey;
}

#am-header-explore-dropdown{
  background: $light-grey;
  width: 660px;
  padding:0px;
  margin-top: -1px;
}
#am-header-explore-dropdown .col-md-4{
  padding: 0px 15px;
}

.am-header-explore-dropdown-header{
  border-bottom: 1px solid $mid-grey;
  padding: 10px 0 5px;
  font-weight: bold;
}

.am-header-explore-dropdown-header .fa{
  font-size: 1.4em;
  margin-right: 2px;
}

.am-header-explore-dropdown-header .fa-star{
  color:$primary-color;
}

.am-header-explore-dropdown-header .fa-clock-o{
  color:$secondary-color;
}

.am-header-explore-dropdown-header .fa-list{
  color:#F56923;
}

.am-header-explore-dropdown-featured-oneitem{
  border-bottom: 1px solid $mid-grey;
  padding: 5px 0;
  font-size: 12px;
  height:60px;
}

.am-header-explore-dropdown-featured-oneitem-img{
  width:60px;
  height:50px;
  border-radius: 2px;
  float: left;
  background: $primary-color-light;
  margin-right: 5px;
}

.am-header-explore-dropdown-recent-oneitem-text{
  @extend .am-header-explore-dropdown-featured-oneitem;
  height: 45px;
}

.am-header-explore-dropdown-category-oneitem{
  width: 55px;
  height: 55px;
  border-radius: 100px;
  display: inline-block;
  background: red;
  border: 2px solid white;
  margin: 5px 2px;
}

.am-header-explore-dropdown-category-oneitem span{
  margin-top: 30px;
  position: relative;
  top: 55px;
  left: 10px;
  font-size: 14px;
}

.am-header-explore-dropdown-category-oneline{
  @extend .am-header-explore-dropdown-featured-oneitem;
  height: 90px;
}


.am-header-explore-dropdown-seeall{
  background: $mid-grey;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.am-header-explore-dropdown-seeall-featured{

}


.am-header-content-option-item:last-child{
  border-right: 0px;
}

#am-header-content-login{
  padding: 10px;
  background: white;
  border-radius: 3px;
  font-weight: bold;
}

#am-header-content-login:hover{
  background: $primary-color-light;
}

#am-header-content-user{
  padding: 0px 10px;
}

#am-header-content-search{
  display: inline-block;
}

#am-header-content-search input{
  background: $primary-color-light;
  border: 0px;
  height: 30px;
}

#am-header-content-search button{
  color:white;
  font-weight: bold;
  background: $primary-color;
  height: 30px;
}

.am-header-content-dropdown{
  width: 400px;
  padding:0px;
  margin-top: -1px;
}

.am-header-content-dropdown-header{
  height: 36px;
  background: #9b9b9b;
  text-align: left;
  padding: 10px;
}

.am-header-content-dropdown-body{
  padding: 0px 10px 10px;
}

.am-header-content-dropdown-oneday{
  margin: 5px 0;
}

.am-header-content-dropdown-oneday-icon{
  color: $light-grey;
}

.am-header-content-dropdown-oneitem{
  border-bottom: 2px solid #d4d4d4;
  overflow: auto;
  padding-top: 10px;
}

.am-header-content-dropdown-oneitem .col-md-3{
  padding: 10px 0;
  margin: auto;
  text-align: center;
}

.am-header-content-dropdown-oneitem .col-md-9{
  padding: 10px 0;
}

.am-header-content-dropdown-oneitem:last-child{
  border-bottom:0px;
}

.am-header-content-dropdown-icon{
  font-size: 1.4em;
  color: #9b9b9b;
  margin-top: -2px;
}


.am-header-content-dropdown-content{

}

.am-header-content-dropdown-title{
  float:left;
}

.am-header-content-dropdown-date{
  float:right;
}

.am-header-content-dropdown-question{
  color:$primary-color;
  font-weight: bold;
}

.am-header-content-dropdown-description{

}

.am-header-icon{
  font-size: 1.5em;
  height: 45px;
  padding-top: 10px;
}

.am-header-icon:hover{
  background: $mid-grey;
}

.am-header-icon:active{
  background: $mid-grey;
}

#am-header-options{
  margin-left: 80px;
}

#am-logo{
  font-size:4em;
  position: absolute;
  top: -10px;
}

#am-content{
  top: 40px;
  min-height: 600px;
  position: relative;
}


#am-footer{
  display: block;
  position: static;
  bottom: 0 !important;
  background-color: white;
  height:120px;
}

#am-footer-biglogo {
  display: inline;
  margin-top: -60px;
  position: absolute;
  margin-left: 5px;
  -webkit-box-reflect: below -40px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.1)));
  font-size: 6em;
}

#am-footer-content{
  @extend .am-container;
}

#am-footer-above{
  padding-top: 20px;
}

#am-footer-above-newsletter{
  padding-left: 70px;
}

#am-footer-above-newsletter-label{
  float: left;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.am-footer-above-icon{
  margin-top: -0px !important;
}

#am-footer-below{
}

.am-footer-icon{
  font-size: 2em;
  color: $light-grey;
  margin-left:10px;
  margin-top: -5px;
}

.am-footer-icon:hover{
  color: $primary-color-light;
}

