//----------------------- PARTIALS ----------------------
@import "bootstrap_overrides";
@import "common";
@import "page_index";
@import "page_tag";
@import "param";

//-------------- MAIN PAGE - Q/A MODAL ------------------
.am-modal-dialog-askquestion{
  width: 600px;
}

.am-modal-askquestion-title{
  margin: 40px 0px 5px 0;
}

.am-modal-askquestion-question .am-modal-askquestion-title{
  margin-top: 10px;
}

.am-modal-askquestion-title span{
  @extend .am-h4;
  font-weight: bold;
}

.am-modal-askquestion-title-description{
  @extend .am-h6;
  float: right;
  margin-top: 7px;
}

.am-modal-askquestion-title-description-left{
  @extend .am-modal-askquestion-title-description;
  float:right;
}

.am-modal-askquestion-title span .am-modal-askquestion-title-description{
  float: left;
}

.am-modal-dialog-askquestion .input-group{
  width: 100%;
  margin-bottom: 10px;
}

.am-modal-dialog-askquestion .input-group .form-control{
  @extend .am-h6;
  border-radius: 5px;
}

.am-modal-askquestion-searchresult table{

}

.am-modal-askquestion-searchresult tr{
  border-bottom: 1px solid $mid-grey;
}

.am-modal-askquestion-searchresult tr:active{
  background: $bg-primary;
}

.am-modal-askquestion-searchresult th{
  padding: 5px 3px;
  font-weight: normal;
}

.am-modal-askquestion-searchresult th .fa{
  font-weight: bold;
  font-size: 1.2em;
}

.am-modal-askquestion-searchresult-expanded-oneitem{
  border-bottom: 0px !important;
  margin: 0 10px;
}

.am-modal-askquestion-searchresult-expanded-oneitem-vote{
  float: left;
  padding: 0 5px;
  background: $bg-primary;
  border-radius: 2px;
  color:$primary-color-dark;
  width: 6%;
  text-align: center;
}

.am-modal-askquestion-searchresult-expanded-oneitem-name{
  float:left;
  color: $primary-color;
  font-weight: bold;
  margin: 0 10px;
}

.am-modal-askquestion-searchresult-expanded-oneitem-details{
  width: 85%;
  float: right;
}

.am-modal-askquestion-searchresult-expanded-oneitem-readmore{
  color: $primary-color-dark;
}

.am-modal-askquestion-searchresult-expanded-seeall{
  color: $primary-color-dark;
  font-weight: bold;
}

.am-modal-askquestion-tag-guideline-title{
  margin: 5px 0;
  font-weight: bold;
}


.am-modal-askquestion-tag-guideline{
  background: $bg-primary;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid $mid-grey;
}

.am-modal-askquestion-tag-guideline .fa{
  position: absolute;
  margin-top: -12px;
  font-size: 2em;
  color: $bg-primary;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $mid-grey;
}

.am-modal-askquestion-tag-guideline-bgbox{
  height: 10px;
  background: $bg-primary;
  position: absolute;
  width: 20px;
  margin-top: -5px;
  margin-left: -2px;
}

.am-modal-askquestion-footer{
  padding: 10px;
  text-align: left;
  font-weight: bold;
  background: $primary-color-light;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.am-modal-askquestion-footer-social{
  float:left;
}

.am-modal-askquestion-footer-social .fa{
  color:white;
  font-size: 1.5em;
}

.am-modal-askquestion-footer-action{
  color: white;
  float:right;
}

.am-modal-askquestion-footer-action .btn{
  margin-left: 5px;
  background: $primary-color;
  color:white;
  font-weight: bold;
}

//------------------- CATEGORY PAGE ---------------------
.am-category-taglist{
  background: $primary-color;
  float: right;
  margin-top: -15px;
  border-radius: 5px;
  padding: 6px;
  color: white;
  font-weight: bold;
}

.am-category-taglist-button{

}

.am-category-banner{
  height: 350px;
  background: $bg-primary;
  border-bottom: 1px solid $mid-grey;
}

.am-category-details{
  border-bottom: 1px solid $light-grey;
  padding-bottom: 20px;
}

.am-category-details-title{
  @extend .am-h0;
  text-align: center;
  padding-top:10px;
}

.am-category-details-contents{

}

.am-category-details-contents-details{
  @extend .am-h4;
  width: 84%;
  float: left;
}

.am-category-details-contents-stats{

}

.am-category-details-contents-stats .am-usermain-itemwell-statssection-oneitem{
  width: 100%;
}


.am-category-details-contents-stats .am-usermain-itemwell-statssection{
  padding: 0px;
}

.am-category-tags{
  border-bottom: 1px solid $mid-grey;
  text-align: center;
  height: 50px;
}

.am-category-tags-midline{
  height: 12px;
  padding-top: 25px;
  border-bottom: 1px solid $light-grey;
}

.am-category-tags-row{
  margin-top: -18px;
}

.am-category-tags-name{
  position: absolute;
  padding: 3px 5px;
  background: white;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  margin-left: -50px;
  width: 100px;
  margin-top: -14px;
}

.am-category-featured{

}

.am-category-featured-onerow{
  margin: 20px 0;
  overflow: auto;
}

.am-category-featured-onerow:last-child{
  margin-bottom: 80px;
}

.am-category-featured-oneitem{
  height: 300px;
  width: 300px;
  margin-right: 30px;
  border: 1px solid $mid-grey;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 $mid-grey;
  float: left;
}

.am-category-featured-oneitem:last-child{
  margin-right: 0px;
}

.am-category-featured-oneitem-pic{
  width: 100%;
  height: 200px;
  background-size: auto 200px;
  background-position: center center;
}

#am-category-featured-oneitem-pic1{
  @extend .am-category-featured-oneitem-pic;
  background-image:url("../resources/category_main/shuai1.jpg");
}

#am-category-featured-oneitem-pic2{
  @extend .am-category-featured-oneitem-pic;
  background-image:url("../resources/category_main/shuai2.jpeg");
}

#am-category-featured-oneitem-pic3{
  @extend .am-category-featured-oneitem-pic;
  background-image:url("../resources/category_main/shuai3.jpg");
}

#am-category-featured-oneitem-pic4{
  @extend .am-category-featured-oneitem-pic;
  background-image:url("../resources/category_main/shuai2.jpeg");
}

#am-category-featured-oneitem-pic5{
  @extend .am-category-featured-oneitem-pic;
  background-image:url("../resources/category_main/shuai1.jpg");
}

#am-category-featured-oneitem-pic6{
  @extend .am-category-featured-oneitem-pic;
  background-image:url("../resources/category_main/shuai3.jpg");
}

#am-category-featured-oneitem-pic7{
  @extend .am-category-featured-oneitem-pic;
  background-image:url("../resources/category_main/shuai3.jpg");
}

#am-category-featured-oneitem-pic8{
  @extend .am-category-featured-oneitem-pic;
  background-image:url("../resources/category_main/shuai1.jpg");
}


.am-category-featured-oneitem-content{
  width: 100%;
  height: 70px;
  padding: 5px 10px;
}

.am-category-featured-oneitem-content-asker{
  @extend .am-h6;
}

.am-category-featured-oneitem-bottom{
  width: 100%;
  height: 30px;
  background: $light-grey;
  padding: 6px 10px;
}

.am-category-featured-oneitem-bottom .fa{
  color: white;
  font-size: 1.2em;
  margin-right: 4px;
}

.am-category-featured-oneitem-bottom-star{
  float:left;
}

.am-category-featured-oneitem-bottom-star .fa:hover{
  text-shadow: 0 2px 1px $dark-grey;
  color: $primary-color;
}


.am-category-featured-oneitem-bottom-stats{
  float:right;
}

//---------------- USER ACTIVITY PAGE -------------------
#am-useractivity-left{
  width: 600px;
  float: left;
}

#am-useractivity-optionbar{
  display: block;
  width: 400px;
  float: right;
  border-bottom: 2px solid $light-grey;
  margin-bottom: 30px;
}

.am-useractivity-optionbar-oneitem{
  float: left;
  background: #f5f5f5;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid $light-grey;
  position: relative;
  margin-bottom: -15px;
  z-index: 5;
}

.am-useractivity-optionbar-oneitem-bg{
  width: 75px;
  height: 30px;
  background: white;
  display: block;
  float: left;
  margin-left: -80px;
  position: relative;
  margin-bottom: -15px;
  z-index: 1;
}

.am-useractivity-optionbar-oneitem:active{
  background: $primary-color;
  color: white;
}


#am-useractivity-timeline{
  width: 130px;
  float: left;
  position: absolute;
  height: 1100px;
  border-right: 2px solid $light-grey;
}

.am-useractivity-daybox{
  @extend .am-h4;
  color: $light-grey;
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid $light-grey;
  background: white;
  width: 100px;
  text-align: center;
  margin-left: 80px;
  position: relative;
  z-index: 5;
}

.am-useractivity-daybox-bg{
  width: 100px;
  height: 55px;
  background: white;
  display: inline-block;
  margin-left: 80px;
  margin-top: -45px;
  position: absolute;
  z-index: 1;
}

//the position of the following boxes would be programmed
#am-useractivity-timeline-today{

}

#am-useractivity-timeline-yday{
  margin-top: 475px;
}

#am-useractivity-timeline-createday{
  margin-top: 350px;
  margin-top: 350px;
  width: 200px;
  margin-left: 20px;
}

#am-useractivity-content{

}

.am-useractivity-content-oneitem{
  margin: 20px 0;
}

.am-useractivity-content-oneitem-stamp{
  width: 180px;
  float: left;
  padding-top: 20px;
}

.am-useractivity-content-oneitem:first-child .am-useractivity-content-oneitem-stamp{
  padding-top: 70px;
}

.am-useractivity-content-oneitem-stamp-time{
  float: left;
  display: inline-block;
  color: $light-grey;
  margin-left: 25%;
  margin-top: 5px;
}

.am-useractivity-content-oneitem-stamp-logo{
  width: 30px;
  height: 30px;
  background: white;
  display: inline-block;
  border-radius: 75px;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
  border: 2px solid $light-grey;
  z-index: 5;
  position: absolute;
}

.am-useractivity-content-oneitem-stamp-logo-bg{
  width: 30px;
  height: 50px;
  background: white;
  display: inline-block;
  z-index: 1;
  position: absolute;
  margin-left: 10px;
  margin-top: -10px;
}

.am-useractivity-content-oneitem-stamp-logo .fa{
  font-size: 1.3em;
  color: $light-grey;
}

.am-useractivity-content-oneitem-stamp .am-triangle{
  float: right;
  margin-top: 2px;
  border-right: 15px solid $light-grey;
}


.am-useractivity-content-oneitem-content{
  overflow: auto;
  background: $light-grey;
  border-radius: 5px;
  border: 1px solid $mid-grey;
  padding-bottom:15px;
  width: 420px;
  display: inline-block;
  @extend .am-h6;
}



.am-useractivity-content-oneitem-photo{
  height: 70px;
  width: 70px;
  background-image: url("../resources/index/staruser/tc.png");
  background-size: 70px;
  border-radius: 75px;
  border: 4px solid white;
  box-shadow: 0 2px 4px 0 $mid-grey;
  float:left;
  margin: 10px 10px 0px 10px;
}


.am-useractivity-content-oneitem-right{
  width: 328px;
  float: right;
  padding-right: 10px;
}

.am-useractivity-content-oneitem-description{
  @extend .am-useractivity-content-oneitem-right;
  margin-top: 15px;
}


.am-useractivity-content-oneitem-question-title{
  @extend .am-h4;
  @extend .am-useractivity-content-oneitem-right;
}

.am-useractivity-content-oneitem-question-detail{
  @extend .am-useractivity-content-oneitem-right;
  margin-top: 10px;
}

.am-useractivity-content-oneitem-question{
  margin-bottom: 10px;
  overflow: auto;
}

.am-useractivity-content-oneitem-answerer-photo{
  height: 70px;
  width: 70px;
  background-image: url("../resources/index/staruser/qq.png");
  background-size: 70px;
  border-radius: 75px;
  border: 4px solid white;
  box-shadow: 0 2px 4px 0 $mid-grey;
  float:right;
  margin: 10px 10px 0px 10px;
}

.am-useractivity-content-oneitem-answer-detail{
  background: #95c9ef;
  display: inline-block;
  width: 318px;
  float: left;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

.am-useractivity-content-oneitem-tag-question{
  @extend .am-useractivity-content-oneitem-right;
  margin-top: 20px;
}

.am-useractivity-content-oneitem-tag-answer{
  @extend .am-useractivity-content-oneitem-right;
}

.am-useractivity-content-oneitem-rep-question{
  @extend .am-useractivity-content-oneitem-right;
  margin-top: 20px;
}

.am-useractivity-content-oneitem-rep-answer{
  @extend .am-useractivity-content-oneitem-right;
}


.am-useractivity-content-oneitem-answer{

}

.am-useractivity-content-oneitem-creation{
  @extend .am-useractivity-content-oneitem;
}

.am-useractivity-content-oneitem-creation .am-useractivity-content-oneitem-photo{
  margin: 0px;
  margin-left: 90px;
  position: absolute;
}

.am-useractivity-content-creation{
  width: 420px;
  float: right;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  font-weight: bold;
  font-size: 18px;
}

.am-useractivity-content-creation .fa{
  color: $light-grey;
}


#am-useractivity-right{
  width: 360px;
  float: right;
  padding-left: 20px;

}

.am-useractivity-right-oneitem{
  margin-bottom: 40px;
}

.am-useractivity-right-oneitem-table-profilepic{
  width: 50px;
  height: 50px;
  background: $bg-primary;
  float: left;
  border-radius: 50px;
  margin-right: 5px;
  border-radius: 1px solid white;
}

.am-useractivity-right-oneitem-table-name{
  @extend .am-h4;
}

.am-useractivity-right-oneitem-table-logindate{
  color: $mid-grey;
}

.am-useractivity-right-oneitem-table-tags{
  margin-top: 10px;
}

.am-useractivity-right-oneitem-table-tags .am-badge{
  margin-right: 10px;
}

.am-useractivity-right-oneitem table{
  width: 100%;
}

.am-useractivity-right-oneitem thead{
  background: $bg-primary;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  @extend .am-h4;
}

.am-useractivity-right-oneitem tr th{
  padding: 10px 5px;
  width: 50%;
}

.am-useractivity-right-oneitem tbody tr th{
  font-weight: normal;
}

.am-useractivity-right-oneitem  tbody tr{
  border-bottom: 1px solid $light-grey;

}

.am-useractivity-right-oneitem .am-profile-reputation{
  float:left;
  top: 0px;
  left: 0px;
  margin-right: 10px;
}

.am-useractivity-right-oneitem .am-profile-badge{
  position: relative;
  top: 0px;
  left: 0px;
  margin-left: 5px;
}

.am-useractivity-right-title{
  @extend .am-h4;
  font-weight: bold;
  color: $mid-grey;
  margin-bottom: 10px;
}

.am-useractivity-right-chart{
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  height: 140px;
  background: $bg-primary;
}

.am-useractivity-right-chart-description{
  border-bottom: 1px solid $light-grey;
  text-align: center;
  padding: 3px 0;
}

//------------------- USER EDIT PAGE --------------------
#am-usermain-right .am-title-bar{
  padding: 5px 20px;
}

#am-useredit-form{

}

.am-useredit-form{

}

.am-useredit-form-oneitem{
  overflow: auto;
  margin-bottom: 10px;

}


.am-useredit-form-oneitem span{
  width: 14%;
  text-align: right;
  padding: 5px 15px 10px 5px;
  display: inline-block;
  float: left;
}

.am-useredit-form-oneitem .form-control{
  width: 40%;
  display: inline-block;
  float: left;
  font-size: 12px;
}

#am-useredit-form-editor{
  width: 80%;
  height: 300px;
}

#am-useredit-newsletter{
  width: 215px;
  height: 200px;
  background: $bg-primary;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  margin-left: 450px;
}

#am-useredit-newsletter-header{
  @extend .am-h4;
  margin-bottom: 5px;
}

#am-useredit-newsletter-content{

}

#am-useredit-newsletter-subscribe .fa{
  color: $mid-grey;
  margin-top:10px;
}

//------------------- USERMAIN PAGE ---------------------
#am-usermain-left{
  width: 25%;
  background: $bg-primary;
  float:left;
}

#am-usermain-right{
  width: 75%;
  overflow: auto;
}

#am-usermain-right .col-md-4{
  padding: 0 5px;
  width: 33.3%;
  display: block;
  float: left;
}

.am-usermain-well{
  background: $bg-primary;
  border-radius: 5px;
  border: 1px solid $mid-grey;
  margin: 20px 15px;
  padding: 15px;
}

.am-usermain-well-oneitem{
  padding: 10px 0;
  border-bottom: 1px solid $mid-grey;
  overflow: auto;

}

.am-usermain-well-oneitem>span:first-child{
  display: block;
  margin-bottom: 5px;
}

.am-usermain-well-oneitem:last-child{
  border-bottom: 0px;
  margin-bottom: -10px;
}

#am-usermain-well-profile-pic{
  height: 178px;
  width: 178px;
  background-image:url("../resources/index/staruser/tc.png");
  background-size: 178px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: -5px;
}

#am-usermain-well-profile-name{

}

#am-usermain-well-profile-description{
  margin-bottom:5px;
}

.am-usermain-well-profile-list-oneitem{

}

.am-usermain-well-profile-stats-oneitem{
  @extend .am-h4;
  width: 33.33%;
  float: left;
  text-align: center;
}

.am-usermain-well-profile-stats-oneitem div{
  font-weight: bold;
  margin-bottom: -10px;
}

.am-usermain-well-profile-stats-oneitem span{
 @extend .am-h7;
}

.am-usermain-well-summary-oneitem{
  margin: 5px 0;
  font-size: 12px;
}
.am-usermain-well-summary-oneitem .fa{
  @extend .am-summary-icon;
}

.am-usermain-well-summary-oneitem span:last-child{
  font-size: 10px;
}

.am-usermain-well-summary-oneitem strong{
  margin-right: 5px;
}

.am-usermain-well-profile-summary-oneitem-question{
  background: #58B957;
}

.am-usermain-well-profile-summary-oneitem-answer{
  background: #3E8ACC;
}


.am-usermain-well-profile-summary-oneitem-reputation{
  background: #56C0E0;
}


.am-usermain-well-profile-summary-oneitem-badge{
  background: #F2AE43;
}


.am-usermain-well-profile-summary-oneitem-tag{
  background: #DB524B;
}


.am-usermain-well-profile-summary-oneitem-vote{
  background: #1ABC9C;
}

.am-usermain-well-pinboard-typebar{
  width: 100%;
  background: white;
  overflow: auto;
  border-radius: 2px;
}

.am-usermain-well-pinboard-typebar-oneitem{
  text-align: center;
  float: left;
  width: 33.33%;
  padding: 1px 1px;
}

.am-usermain-well-pinboard-typebar-oneitem:active{
  background: $primary-color-light;
}

.am-usermain-well-pinboard-list{

}

.am-usermain-well-pinboard-list .fa-li{
  color: $mid-grey !important;
  font-size: 1.2em;
  margin-left: -4px;
}

.am-usermain-well-pinboard-list span{
  margin-left: -10px;
}

.am-usermain-well-help-oneitem{
  margin-top: 10px;
}

.am-usermain-well-help-oneitem .fa{
  font-size: 2em;
  color: $mid-grey;
  width: 20%;
  float:left;
}

.am-usermain-well-help-oneitem div{
  display: inline-block;
  width: 80%
}


.am-usermain-well-title{
  @extend .am-h3;
  padding: 0 0 5px;
  border-bottom: 1px solid $mid-grey;
}

.am-usermain-well-title-question{
  font-size: 12px;
  display: block;
}

.am-usermain-well-close{

}

.am-usermain-well-icon{
  border-radius: 5px;
}

.am-usermain-well-icon-cateogry{
  @extend .am-usermain-well-icon;
  background: #DB524B;
}

.am-usermain-well-icon-post{
  @extend .am-usermain-well-icon;
  background: #F5A623;
}

.am-usermain-well-icon-tag{
  @extend .am-usermain-well-icon;
  background: $secondary-color;
}

.am-usermain-well-icon-question{
  @extend .am-usermain-well-icon;
  background: $primary-color;
}



#am-usermain-left .am-usermain-well{
  background: $light-grey;
}





.am-usermain-itemwell{
  @extend .am-usermain-well;
  padding: 10px 0px;
}


.am-usermain-well-icon-cateogry{
  @extend .am-summary-icon;
  background: #DB524B;
  font-size:18px;
  padding-top:2px;
}

.am-usermain-well-icon-post{
  @extend .am-summary-icon;
  background: #F5A623;
  font-size:18px;
  padding-top:2px;
}

.am-usermain-well-icon-tag{
  @extend .am-summary-icon;
  background: #1ABC9C;
  font-size:18px;
  padding-top:2px;
}

.am-usermain-well-icon-question{
  @extend .am-summary-icon;
  background: #3498E1;
  font-size:18px;
  padding-top:2px;
}

.am-usermain-itemwell .am-usermain-well-oneitem{
  padding: 10px;
}

.am-usermain-itemwell .glyphicon-remove{
  font-size: 12px;
  position: absolute;
  right: 0px;
  margin-right: 25px;
  margin-top: -5px;
  top: inherit;
  color: $light-grey;
}


.am-usermain-itemwell .am-usermain-well-title{
  padding: 0px 10px 5px;
}

.am-usermain-itemwell-picsection{
  height: 150px;
  border-bottom: 1px solid $light-grey;
  box-sizing: border-box;
}

.am-usermain-itemwell-picsection-main{
  width: 150px;
  background-image:url("../resources/index/staruser/shuai1.png");
  background-size: 150px;
  height: inherit;
  width: 148px;
  float:left;
}

.am-usermain-itemwell-picsection-side{
  height: 50px;
  width: 49px;
  background: yellow;
  float: right;
  display: inline-block;
  background-size: 49px 50px;
}

.am-usermain-itemwell-picsection .am-usermain-itemwell-picsection-side:nth-child(2){
  background-image:url("../resources/index/staruser/qq.png");
}

.am-usermain-itemwell-picsection .am-usermain-itemwell-picsection-side:nth-child(3){
  background-image:url("../resources/index/staruser/kelvin.png");
}

.am-usermain-itemwell-picsection .am-usermain-itemwell-picsection-side:nth-child(4){
  background-image:url("../resources/index/staruser/shuai2.png");
}

.am-usermain-itemwell-statssection{
  padding: 10px;
  overflow: auto;
}

.am-usermain-itemwell-statssection-oneitem{
  width: 50%;
  float: left;
}

am-usermain-itemwell .am-usermain-itemwell-statssection-oneitem .fa{
  @extend .am-summary-icon;
  margin-top: 5px;
  background: $mid-grey;
}

.am-usermain-itemwell-statssection-oneitem span{
  font-size: 12px;
}

.am-usermain-itemwell-subtitle{
  border-bottom: 1px solid $light-grey;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.am-usermain-itemwell-qora{

}

.am-usermain-itemwell-qora span{
  margin-bottom: 5px;
  display: block;
  font-size: 12px;
}

.am-usermain-itemwell-qora .glyphicon{
  float:left;
  color: $light-grey;
  font-size: 1.5em;
  margin-top: 5px;
  margin-right: 5px;
}

.am-usermain-itemwell-qora-oneitem{
  display: block;
  overflow: auto;
  margin-bottom: 5px;

}

.am-usermain-itemwell-qora-signoff{
  @extend .am-h6;
  float:right;
  color: $mid-grey;
}




//-------------------- SEARCH PAGE ----------------------
#am-search-input input{
  background: $light-grey;
  color: white;
  width: 75%;
  float: left;
  margin-right: 15px;
}

#am-search-go{
  margin-left: 10px;
  background: $primary-color;
  font-weight: bold;
  color: white;
}

#am-search-input .btn:last-child{
  width: 15%;
  float: right;
  font-weight: bold;
}


#am-search-result-content{
  margin-top: 40px;
}

#am-search-result-number{
  display: inline-block;
  position: absolute;
  margin-top: 40px;
  margin-left: 10px;
}

.am-search-oneitem {
  padding: 10px;
  border-bottom: 1px solid #d4d4d4;
}

.am-search-oneitem:first-child {
  margin-top: -20px;
}

.am-search-oneitem:last-child {
  border-bottom: 0px;
  margin-bottom: 20px;
}

.am-search-oneitem .glyphicon{
  font-size: 2.2em;
  color: white;
  margin-right: 10px;
}

.am-search-oneitem-stats{
  width: 15%;
  display: block;
  background: $light-grey;
  float: left;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
}

.am-search-oneitem-stats-oneitem{
  height: 50px;
  width: 125px;
  display: inline-block;
  background: #3498e1;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}

.am-search-oneitem-stats-oneitem:last-child{
  margin-bottom: 0px;
}

.am-search-oneitem-stats-oneitem-number{
  position: absolute;
  font-size: 18px;
  margin-top: -3px;
}

//----------------------- Q/A PAGE ----------------------
.am-qnacommon-oneitem{
  border-bottom: 1px solid $light-grey;
  padding: 25px 10px 20px;
  overflow: auto;
}

.am-qnacommon-oneitem:last-child{
  border-bottom: 0px;
}

.am-qnacommon-oneitem .glyphicon{
  font-size: 2.2em;
  color: white;
  margin-left: 6px;
  margin-bottom: 16px;
}

.am-qnacommon-oneitem .col-md-3{
  padding: 0px;
}

.am-qnacommon-oneitem .col-md-9{
  padding: 0px;
  margin-left: -40px;
}



.am-qnacommon-oneitem-stats{
  float:left;
  margin-right: 15px;
}

.am-qnacommon-oneitem-stats-oneitem{
  height: 120px;
  width: 54px;
  display: inline-block;
  background: #d4d4d4;
  padding: 15px 5px;
  border-radius: 5px;
  font-weight: bold;
}

.am-qnacommon-oneitem-stats-oneitem:active{
  background: $primary-color;
}

.am-qnacommon-oneitem-stats-oneitem span:nth-child(3){
//  margin-left: 5px;
}

.am-qnacommon-oneitem-stats-oneitem-number{
  @extend .am-h4;
  margin-left: 5px;
}


.am-qnacommon-oneitem-content{

}

.am-qnacommon-oneitem-title{

}

.am-qnacommon-oneitem-details{
  margin: 5px 0;
}

.am-qnacommon-oneitem-tag{

}

.am-qnacommon-oneitem-user{
  position: relative;
  top: -40px;
  left: -130px;
}





//----------------------- TAG PAGE ----------------------

#am-tagcommon-description{
  margin-top: -30px;
  border-bottom: 1px solid $light-grey;
  padding: 10px 10px;
}

#am-tagcommon-description-option{
  margin: 5px 0 10px;
}

#am-tagcommon-searchbar{
  width: 200px;
  position: relative;
  float: right;
  margin-top: -15px;
  margin-right: 5px;
}

#am-tagcommon-searchbar input{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#am-tagcommon-searchbar-backspace{
  width: 220px;
  background: white;
  position: absolute;
  float: right;
  right: -5px;
  display: inline-block;
  height: 30px;
}

#am-taglist-categorylist{
  background: $bg-primary;
  border-bottom: 1px solid $light-grey;
  overflow: auto;
}

.am-tagcommon-categorylist-oneitem{
  float:left;
  padding: 5px 15px;
}

.am-tagcommon-categorylist-oneitem:active{
  background: $primary-color;
  color:white;
}

.am-tagcommon-categorylist-search{
  float:right;
  height: 26px;
  margin-top: 5px;
  margin-right: 15px;
}

.am-tagcommon-categorylist-search input{
  height: 26px;
}

.am-taglist-content-onerow{
  border-bottom: 1px solid $light-grey;
  overflow: auto;
}

.am-taglist-content-onerow:last-child{
  border-bottom: 0px;
}

.am-taglist-content-oneitem{
  padding: 20px 15px 10px 5px;
  overflow:auto;
}

.am-taglist-content-oneitem-badge{
  background: $secondary-color;
  border-radius: 5px;
  color: white;
  display: inline-block;
  float: left;
  padding: 3px 6px;
  margin-right: 5px;
}

.am-taglist-content-oneitem-badge-img{
  height: 20px;
  width: 20px;
  display: inline-block;
  background: $light-grey;
  margin-top: 3px;
  border-radius: 5px;
  box-sizing: border-box;
}

.am-taglist-content-oneitem-badge-count{
  position: relative;
  margin-top: 10px;
}

.am-taglist-content-oneitem-description{
  margin: 10px 0;
}

.am-taglist-content-oneitem-stats{
  color:$mid-grey
}

.am-tagdetail-description{
  background: $bg-primary;
}

#am-tagdetail-content{

}

//--------------------- FRAMEWORKING --------------------


.am-container{
  width:1040px;
  margin: auto;
}

#am-header{
  background-color: $bg-primary;
  height: 45px;
  border-bottom: 2px solid white;
}

#am-header-content{
  @extend .am-container;
}

.am-header-content-option-item{
  float: left;
  border-right: 2px grey solid;
  margin-right: 10px;
  padding-right: 10px;
}

#am-header-explore{

}

#am-header-explore:hover{
  background: $light-grey;
}

#am-header-explore-dropdown{
  background: $light-grey;
  width: 660px;
  padding:0px;
  margin-top: -1px;
}
#am-header-explore-dropdown .col-md-4{
  padding: 0px 15px;
}

.am-header-explore-dropdown-header{
  border-bottom: 1px solid $mid-grey;
  padding: 10px 0 5px;
  font-weight: bold;
}

.am-header-explore-dropdown-header .fa{
  font-size: 1.4em;
  margin-right: 2px;
}

.am-header-explore-dropdown-header .fa-star{
  color:$primary-color;
}

.am-header-explore-dropdown-header .fa-clock-o{
  color:$secondary-color;
}

.am-header-explore-dropdown-header .fa-list{
  color:#F56923;
}

.am-header-explore-dropdown-featured-oneitem{
  border-bottom: 1px solid $mid-grey;
  padding: 5px 0;
  font-size: 12px;
  height:60px;
}

.am-header-explore-dropdown-featured-oneitem-img{
  width:60px;
  height:50px;
  border-radius: 2px;
  float: left;
  background: $primary-color-light;
  margin-right: 5px;
}

.am-header-explore-dropdown-recent-oneitem-text{
  @extend .am-header-explore-dropdown-featured-oneitem;
  height: 45px;
}

.am-header-explore-dropdown-category-oneitem{
  width: 55px;
  height: 55px;
  border-radius: 100px;
  display: inline-block;
  background: red;
  border: 2px solid white;
  margin: 5px 2px;
}

.am-header-explore-dropdown-category-oneitem span{
  margin-top: 30px;
  position: relative;
  top: 55px;
  left: 10px;
  font-size: 14px;
}

.am-header-explore-dropdown-category-oneline{
  @extend .am-header-explore-dropdown-featured-oneitem;
  height: 90px;
}


.am-header-explore-dropdown-seeall{
  background: $mid-grey;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.am-header-explore-dropdown-seeall-featured{

}


.am-header-content-option-item:last-child{
  border-right: 0px;
}

#am-header-content-login{
  padding: 10px;
  background: white;
  border-radius: 3px;
  font-weight: bold;
}

#am-header-content-login:hover{
  background: $primary-color-light;
}

#am-header-content-user{
  padding: 0px 10px;
}

#am-header-content-search{
  display: inline-block;
}

#am-header-content-search input{
  background: $primary-color-light;
  border: 0px;
  height: 30px;
}

#am-header-content-search div.btn{
  color:white;
  font-weight: bold;
  background: $primary-color;
  height: 30px;
}

.am-header-content-dropdown{
  width: 400px;
  padding:0px;
  margin-top: -1px;
}

.am-header-content-dropdown-header{
  height: 36px;
  background: #9b9b9b;
  text-align: left;
  padding: 10px;
}

.am-header-content-dropdown-body{
  padding: 0px 10px 10px;
}

.am-header-content-dropdown-oneday{
  margin: 5px 0;
}

.am-header-content-dropdown-oneday-icon{
  color: $light-grey;
}

.am-header-content-dropdown-oneitem{
  border-bottom: 2px solid #d4d4d4;
  overflow: auto;
  padding-top: 10px;
}

.am-header-content-dropdown-oneitem .col-md-3{
  padding: 10px 0;
  margin: auto;
  text-align: center;
}

.am-header-content-dropdown-oneitem .col-md-9{
  padding: 10px 0;
}

.am-header-content-dropdown-oneitem:last-child{
  border-bottom:0px;
}

.am-header-content-dropdown-icon{
  font-size: 1.4em;
  color: #9b9b9b;
  margin-top: -2px;
}


.am-header-content-dropdown-content{

}

.am-header-content-dropdown-title{
  float:left;
}

.am-header-content-dropdown-date{
  float:right;
}

.am-header-content-dropdown-question{
  color:$primary-color;
  font-weight: bold;
}

.am-header-content-dropdown-description{

}

.am-header-icon{
  font-size: 1.5em;
  height: 45px;
  padding-top: 10px;
}

.am-header-icon:hover{
  background: $mid-grey;
}

.am-header-icon:active{
  background: $mid-grey;
}

#am-header-options{
  margin-left: 80px;
}

#am-logo{
  font-size:4em;
  position: absolute;
  top: -10px;
}

#am-content{
  top: 40px;
  min-height: 600px;
  position: relative;
}


#am-footer{
  display: block;
  position: static;
  bottom: 0 !important;
  background-color: white;
  height:120px;
}

#am-footer-biglogo {
  display: inline;
  margin-top: -60px;
  position: absolute;
  margin-left: 5px;
  -webkit-box-reflect: below -40px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.1)));
  font-size: 6em;
}

#am-footer-content{
  @extend .am-container;
}

#am-footer-above{
  padding-top: 20px;
}

#am-footer-above-newsletter{
  padding-left: 70px;
}

#am-footer-above-newsletter-label{
  float: left;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.am-footer-above-icon{
  margin-top: -0px !important;
}

#am-footer-below{
}

.am-footer-icon{
  font-size: 2em;
  color: $light-grey;
  margin-left:10px;
  margin-top: -5px;
}

.am-footer-icon:hover{
  color: $primary-color-light;
}

//----------------------- PARTIALS ----------------------
@import "bootstrap_overrides";
@import "common";
@import "page_index";
@import "page_tag";
@import "param";




//------------------- CATEGORY PAGE ---------------------
.am-category-banner{
  height: 350px;
  background: $bg-primary;
  border-bottom: 1px solid $light-grey;
}

.am-category-details{
  border-bottom: 1px solid $light-grey;
  padding-bottom: 20px;
}

.am-category-details-title{
  @extend .am-h0;
  text-align: center;
  padding-top:10px;
}

.am-category-details-contents{

}

.am-category-details-contents-details{
  @extend .am-h4;
  width: 84%;
  float: left;
}

.am-category-details-contents-stats{

}

.am-category-details-contents-stats .am-usermain-itemwell-statssection-oneitem{
  width: 100%;
}


.am-category-details-contents-stats .am-usermain-itemwell-statssection{
  padding: 0px;
}

.am-category-tags{

}

.am-category-featured{

}

.am-category-featured-onerow{

}

.am-category-featured-oneitem{

}

//---------------- USER ACTIVITY PAGE -------------------
#am-useractivity-left{
  width: 600px;
  float: left;
}

#am-useractivity-optionbar{
  display: block;
  width: 400px;
  float: right;
  border-bottom: 2px solid $light-grey;
  margin-bottom: 30px;
}

.am-useractivity-optionbar-oneitem{
  float: left;
  background: #f5f5f5;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid $light-grey;
  position: relative;
  margin-bottom: -15px;
  z-index: 5;
}

.am-useractivity-optionbar-oneitem-bg{
  width: 75px;
  height: 30px;
  background: white;
  display: block;
  float: left;
  margin-left: -80px;
  position: relative;
  margin-bottom: -15px;
  z-index: 1;
}

.am-useractivity-optionbar-oneitem:active{
  background: $primary-color;
  color: white;
}


#am-useractivity-timeline{
  width: 130px;
  float: left;
  position: absolute;
  height: 1100px;
  border-right: 2px solid $light-grey;
}

.am-useractivity-daybox{
  @extend .am-h4;
  color: $light-grey;
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid $light-grey;
  background: white;
  width: 100px;
  text-align: center;
  margin-left: 80px;
  position: relative;
  z-index: 5;
}

.am-useractivity-daybox-bg{
  width: 100px;
  height: 55px;
  background: white;
  display: inline-block;
  margin-left: 80px;
  margin-top: -45px;
  position: absolute;
  z-index: 1;
}

//the position of the following boxes would be programmed
#am-useractivity-timeline-today{

}

#am-useractivity-timeline-yday{
  margin-top: 475px;
}

#am-useractivity-timeline-createday{
  margin-top: 350px;
  margin-top: 350px;
  width: 200px;
  margin-left: 20px;
}

#am-useractivity-content{

}

.am-useractivity-content-oneitem{
  margin: 20px 0;
}

.am-useractivity-content-oneitem-stamp{
  width: 180px;
  float: left;
  padding-top: 20px;
}

.am-useractivity-content-oneitem:first-child .am-useractivity-content-oneitem-stamp{
  padding-top: 70px;
}

.am-useractivity-content-oneitem-stamp-time{
  float: left;
  display: inline-block;
  color: $light-grey;
  margin-left: 25%;
  margin-top: 5px;
}

.am-useractivity-content-oneitem-stamp-logo{
  width: 30px;
  height: 30px;
  background: white;
  display: inline-block;
  border-radius: 75px;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
  border: 2px solid $light-grey;
  z-index: 5;
  position: absolute;
}

.am-useractivity-content-oneitem-stamp-logo-bg{
  width: 30px;
  height: 50px;
  background: white;
  display: inline-block;
  z-index: 1;
  position: absolute;
  margin-left: 10px;
  margin-top: -10px;
}

.am-useractivity-content-oneitem-stamp-logo .fa{
  font-size: 1.3em;
  color: $light-grey;
}

.am-useractivity-content-oneitem-stamp .am-triangle{
  float: right;
  margin-top: 2px;
  border-right: 15px solid $light-grey;
}


.am-useractivity-content-oneitem-content{
  overflow: auto;
  background: $light-grey;
  border-radius: 5px;
  border: 1px solid $mid-grey;
  padding-bottom:15px;
  width: 420px;
  display: inline-block;
  @extend .am-h6;
}



.am-useractivity-content-oneitem-photo{
  height: 70px;
  width: 70px;
  background-image: url("../resources/index/staruser/tc.png");
  background-size: 70px;
  border-radius: 75px;
  border: 4px solid white;
  box-shadow: 0 2px 4px 0 $mid-grey;
  float:left;
  margin: 10px 10px 0px 10px;
}


.am-useractivity-content-oneitem-right{
  width: 328px;
  float: right;
  padding-right: 10px;
}

.am-useractivity-content-oneitem-description{
  @extend .am-useractivity-content-oneitem-right;
  margin-top: 15px;
}


.am-useractivity-content-oneitem-question-title{
  @extend .am-h4;
  @extend .am-useractivity-content-oneitem-right;
}

.am-useractivity-content-oneitem-question-detail{
  @extend .am-useractivity-content-oneitem-right;
  margin-top: 10px;
}

.am-useractivity-content-oneitem-question{
  margin-bottom: 10px;
  overflow: auto;
}

.am-useractivity-content-oneitem-answerer-photo{
  height: 70px;
  width: 70px;
  background-image: url("../resources/index/staruser/qq.png");
  background-size: 70px;
  border-radius: 75px;
  border: 4px solid white;
  box-shadow: 0 2px 4px 0 $mid-grey;
  float:right;
  margin: 10px 10px 0px 10px;
}

.am-useractivity-content-oneitem-answer-detail{
  background: #95c9ef;
  display: inline-block;
  width: 318px;
  float: left;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

.am-useractivity-content-oneitem-tag-question{
  @extend .am-useractivity-content-oneitem-right;
  margin-top: 20px;
}

.am-useractivity-content-oneitem-tag-answer{
  @extend .am-useractivity-content-oneitem-right;
}

.am-useractivity-content-oneitem-rep-question{
  @extend .am-useractivity-content-oneitem-right;
  margin-top: 20px;
}

.am-useractivity-content-oneitem-rep-answer{
  @extend .am-useractivity-content-oneitem-right;
}


.am-useractivity-content-oneitem-answer{

}

.am-useractivity-content-oneitem-creation{
  @extend .am-useractivity-content-oneitem;
}

.am-useractivity-content-oneitem-creation .am-useractivity-content-oneitem-photo{
  margin: 0px;
  margin-left: 90px;
  position: absolute;
}

.am-useractivity-content-creation{
  width: 420px;
  float: right;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  font-weight: bold;
  font-size: 18px;
}

.am-useractivity-content-creation .fa{
  color: $light-grey;
}


#am-useractivity-right{
  width: 360px;
  float: right;
  padding-left: 20px;

}

.am-useractivity-right-oneitem{
  margin-bottom: 40px;
}

.am-useractivity-right-oneitem-table-profilepic{
  width: 50px;
  height: 50px;
  background: $bg-primary;
  float: left;
  border-radius: 50px;
  margin-right: 5px;
  border-radius: 1px solid white;
}

.am-useractivity-right-oneitem-table-name{
  @extend .am-h4;
}

.am-useractivity-right-oneitem-table-logindate{
  color: $mid-grey;
}

.am-useractivity-right-oneitem-table-tags{
  margin-top: 10px;
}

.am-useractivity-right-oneitem-table-tags .am-badge{
  margin-right: 10px;
}

.am-useractivity-right-oneitem table{
  width: 100%;
}

.am-useractivity-right-oneitem thead{
  background: $bg-primary;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  @extend .am-h4;
}

.am-useractivity-right-oneitem tr th{
  padding: 10px 5px;
  width: 50%;
}

.am-useractivity-right-oneitem tbody tr th{
  font-weight: normal;
}

.am-useractivity-right-oneitem  tbody tr{
  border-bottom: 1px solid $light-grey;

}

.am-useractivity-right-oneitem .am-profile-reputation{
  float:left;
  top: 0px;
  left: 0px;
  margin-right: 10px;
}

.am-useractivity-right-oneitem .am-profile-badge{
  position: relative;
  top: 0px;
  left: 0px;
  margin-left: 5px;
}

.am-useractivity-right-title{
  @extend .am-h4;
  font-weight: bold;
  color: $mid-grey;
  margin-bottom: 10px;
}

.am-useractivity-right-chart{
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  height: 140px;
  background: $bg-primary;
}

.am-useractivity-right-chart-description{
  border-bottom: 1px solid $light-grey;
  text-align: center;
  padding: 3px 0;
}

//------------------- USER EDIT PAGE --------------------
#am-usermain-right .am-title-bar{
  padding: 5px 20px;
}

#am-useredit-form{

}

.am-useredit-form{

}

.am-useredit-form-oneitem{
  overflow: auto;
  margin-bottom: 10px;

}


.am-useredit-form-oneitem span{
  width: 14%;
  text-align: right;
  padding: 5px 15px 10px 5px;
  display: inline-block;
  float: left;
}

.am-useredit-form-oneitem .form-control{
  width: 40%;
  display: inline-block;
  float: left;
  font-size: 12px;
}

#am-useredit-form-editor{
  width: 80%;
  height: 300px;
}

#am-useredit-newsletter{
  width: 215px;
  height: 200px;
  background: $bg-primary;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  margin-left: 450px;
}

#am-useredit-newsletter-header{
  @extend .am-h4;
  margin-bottom: 5px;
}

#am-useredit-newsletter-content{

}

#am-useredit-newsletter-subscribe .fa{
  color: $mid-grey;
  margin-top:10px;
}

//------------------- USERMAIN PAGE ---------------------
#am-usermain-left{
  width: 25%;
  background: $bg-primary;
  float:left;
}

#am-usermain-right{
  width: 75%;
  overflow: auto;
}

#am-usermain-right .col-md-4{
  padding: 0 5px;
  width: 33.3%;
  display: block;
  float: left;
}

.am-usermain-well{
  background: $bg-primary;
  border-radius: 5px;
  border: 1px solid $mid-grey;
  margin: 20px 15px;
  padding: 15px;
}

.am-usermain-well-oneitem{
  padding: 10px 0;
  border-bottom: 1px solid $mid-grey;
  overflow: auto;

}

.am-usermain-well-oneitem>span:first-child{
  display: block;
  margin-bottom: 5px;
}

.am-usermain-well-oneitem:last-child{
  border-bottom: 0px;
  margin-bottom: -10px;
}

#am-usermain-well-profile-pic{
  height: 178px;
  width: 178px;
  background-image:url("../resources/index/staruser/tc.png");
  background-size: 178px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: -5px;
}

#am-usermain-well-profile-name{

}

#am-usermain-well-profile-description{
  margin-bottom:5px;
}

.am-usermain-well-profile-list-oneitem{

}

.am-usermain-well-profile-stats-oneitem{
  @extend .am-h4;
  width: 33.33%;
  float: left;
  text-align: center;
}

.am-usermain-well-profile-stats-oneitem div{
  font-weight: bold;
  margin-bottom: -10px;
}

.am-usermain-well-profile-stats-oneitem span{
 @extend .am-h7;
}

.am-usermain-well-summary-oneitem{
  margin: 5px 0;
  font-size: 12px;
}
.am-usermain-well-summary-oneitem .fa{
  @extend .am-summary-icon;
}

.am-usermain-well-summary-oneitem span:last-child{
  font-size: 10px;
}

.am-usermain-well-summary-oneitem strong{
  margin-right: 5px;
}

.am-usermain-well-profile-summary-oneitem-question{
  background: #58B957;
}

.am-usermain-well-profile-summary-oneitem-answer{
  background: #3E8ACC;
}


.am-usermain-well-profile-summary-oneitem-reputation{
  background: #56C0E0;
}


.am-usermain-well-profile-summary-oneitem-badge{
  background: #F2AE43;
}


.am-usermain-well-profile-summary-oneitem-tag{
  background: #DB524B;
}


.am-usermain-well-profile-summary-oneitem-vote{
  background: #1ABC9C;
}

.am-usermain-well-pinboard-typebar{
  width: 100%;
  background: white;
  overflow: auto;
  border-radius: 2px;
}

.am-usermain-well-pinboard-typebar-oneitem{
  text-align: center;
  float: left;
  width: 33.33%;
  padding: 1px 1px;
}

.am-usermain-well-pinboard-typebar-oneitem:active{
  background: $primary-color-light;
}

.am-usermain-well-pinboard-list{

}

.am-usermain-well-pinboard-list .fa-li{
  color: $mid-grey !important;
  font-size: 1.2em;
  margin-left: -4px;
}

.am-usermain-well-pinboard-list span{
  margin-left: -10px;
}

.am-usermain-well-help-oneitem{
  margin-top: 10px;
}

.am-usermain-well-help-oneitem .fa{
  font-size: 2em;
  color: $mid-grey;
  width: 20%;
  float:left;
}

.am-usermain-well-help-oneitem div{
  display: inline-block;
  width: 80%
}


.am-usermain-well-title{
  @extend .am-h3;
  padding: 0 0 5px;
  border-bottom: 1px solid $mid-grey;
}

.am-usermain-well-title-question{
  font-size: 12px;
  display: block;
}

.am-usermain-well-close{

}

.am-usermain-well-icon{
  border-radius: 5px;
}

.am-usermain-well-icon-cateogry{
  @extend .am-usermain-well-icon;
  background: #DB524B;
}

.am-usermain-well-icon-post{
  @extend .am-usermain-well-icon;
  background: #F5A623;
}

.am-usermain-well-icon-tag{
  @extend .am-usermain-well-icon;
  background: $secondary-color;
}

.am-usermain-well-icon-question{
  @extend .am-usermain-well-icon;
  background: $primary-color;
}



#am-usermain-left .am-usermain-well{
  background: $light-grey;
}





.am-usermain-itemwell{
  @extend .am-usermain-well;
  padding: 10px 0px;
}


.am-usermain-well-icon-cateogry{
  @extend .am-summary-icon;
  background: #DB524B;
  font-size:18px;
  padding-top:2px;
}

.am-usermain-well-icon-post{
  @extend .am-summary-icon;
  background: #F5A623;
  font-size:18px;
  padding-top:2px;
}

.am-usermain-well-icon-tag{
  @extend .am-summary-icon;
  background: #1ABC9C;
  font-size:18px;
  padding-top:2px;
}

.am-usermain-well-icon-question{
  @extend .am-summary-icon;
  background: #3498E1;
  font-size:18px;
  padding-top:2px;
}

.am-usermain-itemwell .am-usermain-well-oneitem{
  padding: 10px;
}

.am-usermain-itemwell .glyphicon-remove{
  font-size: 12px;
  position: absolute;
  right: 0px;
  margin-right: 25px;
  margin-top: -5px;
  top: inherit;
  color: $light-grey;
}


.am-usermain-itemwell .am-usermain-well-title{
  padding: 0px 10px 5px;
}

.am-usermain-itemwell-picsection{
  height: 150px;
  border-bottom: 1px solid $light-grey;
  box-sizing: border-box;
}

.am-usermain-itemwell-picsection-main{
  width: 150px;
  background-image:url("../resources/index/staruser/shuai1.png");
  background-size: 150px;
  height: inherit;
  width: 148px;
  float:left;
}

.am-usermain-itemwell-picsection-side{
  height: 50px;
  width: 49px;
  background: yellow;
  float: right;
  display: inline-block;
  background-size: 49px 50px;
}

.am-usermain-itemwell-picsection .am-usermain-itemwell-picsection-side:nth-child(2){
  background-image:url("../resources/index/staruser/qq.png");
}

.am-usermain-itemwell-picsection .am-usermain-itemwell-picsection-side:nth-child(3){
  background-image:url("../resources/index/staruser/kelvin.png");
}

.am-usermain-itemwell-picsection .am-usermain-itemwell-picsection-side:nth-child(4){
  background-image:url("../resources/index/staruser/shuai2.png");
}

.am-usermain-itemwell-statssection{
  padding: 10px;
  overflow: auto;
}

.am-usermain-itemwell-statssection-oneitem{
  width: 50%;
  float: left;
}

.am-usermain-itemwell-statssection-oneitem .fa{
  @extend .am-summary-icon;
  margin-top: 5px;
}

.am-usermain-itemwell .am-usermain-itemwell-statssection-oneitem .fa{
  background: $mid-grey;
}

.am-usermain-itemwell-statssection-oneitem span{
  font-size: 12px;
}

.am-usermain-itemwell-subtitle{
  border-bottom: 1px solid $light-grey;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.am-usermain-itemwell-qora{

}

.am-usermain-itemwell-qora span{
  margin-bottom: 5px;
  display: block;
  font-size: 12px;
}

.am-usermain-itemwell-qora .glyphicon{
  float:left;
  color: $light-grey;
  font-size: 1.5em;
  margin-top: 5px;
  margin-right: 5px;
}

.am-usermain-itemwell-qora-oneitem{
  display: block;
  overflow: auto;
  margin-bottom: 5px;

}

.am-usermain-itemwell-qora-signoff{
  @extend .am-h6;
  float:right;
  color: $mid-grey;
}




//-------------------- SEARCH PAGE ----------------------
#am-search-input input{
  background: $light-grey;
  color: white;
  width: 75%;
  float: left;
  margin-right: 15px;
}

#am-search-go{
  margin-left: 10px;
  background: $primary-color;
  font-weight: bold;
  color: white;
}

#am-search-input .btn:last-child{
  width: 15%;
  float: right;
  font-weight: bold;
}


#am-search-result-content{
  margin-top: 40px;
}

#am-search-result-number{
  display: inline-block;
  position: absolute;
  margin-top: 40px;
  margin-left: 10px;
}

.am-search-oneitem {
  padding: 10px;
  border-bottom: 1px solid #d4d4d4;
}

.am-search-oneitem:first-child {
  margin-top: -20px;
}

.am-search-oneitem:last-child {
  border-bottom: 0px;
  margin-bottom: 20px;
}

.am-search-oneitem .glyphicon{
  font-size: 2.2em;
  color: white;
  margin-right: 10px;
}

.am-search-oneitem-stats{
  width: 15%;
  display: block;
  background: $light-grey;
  float: left;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
}

.am-search-oneitem-stats-oneitem{
  height: 50px;
  width: 125px;
  display: inline-block;
  background: #3498e1;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}

.am-search-oneitem-stats-oneitem:last-child{
  margin-bottom: 0px;
}

.am-search-oneitem-stats-oneitem-number{
  position: absolute;
  font-size: 18px;
  margin-top: -3px;
}

//----------------------- Q/A PAGE ----------------------
.am-qnacommon-oneitem{
  border-bottom: 1px solid $light-grey;
  padding: 25px 10px 20px;
  overflow: auto;
}

.am-qnacommon-oneitem:last-child{
  border-bottom: 0px;
}

.am-qnacommon-oneitem .glyphicon{
  font-size: 2.2em;
  color: white;
  margin-left: 6px;
  margin-bottom: 16px;
}

.am-qnacommon-oneitem .col-md-3{
  padding: 0px;
}

.am-qnacommon-oneitem .col-md-9{
  padding: 0px;
  margin-left: -40px;
}



.am-qnacommon-oneitem-stats{
  float:left;
  margin-right: 15px;
}

.am-qnacommon-oneitem-stats-oneitem{
  height: 120px;
  width: 54px;
  display: inline-block;
  background: #d4d4d4;
  padding: 15px 5px;
  border-radius: 5px;
  font-weight: bold;
}

.am-qnacommon-oneitem-stats-oneitem:active{
  background: $primary-color;
}

.am-qnacommon-oneitem-stats-oneitem span:nth-child(3){
//  margin-left: 5px;
}

.am-qnacommon-oneitem-stats-oneitem-number{
  @extend .am-h4;
  margin-left: 5px;
}


.am-qnacommon-oneitem-content{

}

.am-qnacommon-oneitem-title{

}

.am-qnacommon-oneitem-details{
  margin: 5px 0;
}

.am-qnacommon-oneitem-tag{

}

.am-qnacommon-oneitem-user{
  position: relative;
  top: -40px;
  left: -130px;
}





//----------------------- TAG PAGE ----------------------

#am-tagcommon-description{
  margin-top: -30px;
  border-bottom: 1px solid $light-grey;
  padding: 10px 10px;
}

#am-tagcommon-description-option{
  margin: 5px 0 10px;
}

#am-tagcommon-searchbar{
  width: 200px;
  position: relative;
  float: right;
  margin-top: -15px;
  margin-right: 5px;
}

#am-tagcommon-searchbar input{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#am-tagcommon-searchbar-backspace{
  width: 220px;
  background: white;
  position: absolute;
  float: right;
  right: -5px;
  display: inline-block;
  height: 30px;
}

#am-taglist-categorylist{
  background: $bg-primary;
  border-bottom: 1px solid $light-grey;
  overflow: auto;
}

.am-tagcommon-categorylist-oneitem{
  float:left;
  padding: 5px 15px;
}

.am-tagcommon-categorylist-oneitem:active{
  background: $primary-color;
  color:white;
}

.am-tagcommon-categorylist-search{
  float:right;
  height: 26px;
  margin-top: 5px;
  margin-right: 15px;
}

.am-tagcommon-categorylist-search input{
  height: 26px;
}

.am-taglist-content-onerow{
  border-bottom: 1px solid $light-grey;
  overflow: auto;
}

.am-taglist-content-onerow:last-child{
  border-bottom: 0px;
}

.am-taglist-content-oneitem{
  padding: 20px 15px 10px 5px;
  overflow:auto;
}

.am-taglist-content-oneitem-badge{
  background: $secondary-color;
  border-radius: 5px;
  color: white;
  display: inline-block;
  float: left;
  padding: 3px 6px;
  margin-right: 5px;
}

.am-taglist-content-oneitem-badge-img{
  height: 20px;
  width: 20px;
  display: inline-block;
  background: $light-grey;
  margin-top: 3px;
  border-radius: 5px;
  box-sizing: border-box;
}

.am-taglist-content-oneitem-badge-count{
  position: relative;
  margin-top: 10px;
}

.am-taglist-content-oneitem-description{
  margin: 10px 0;
}

.am-taglist-content-oneitem-stats{
  color:$mid-grey
}

.am-tagdetail-description{
  background: $bg-primary;
}

#am-tagdetail-content{

}

//--------------------- FRAMEWORKING --------------------


.am-container{
  width:1040px;
  margin: auto;
}

#am-header{
  background-color: $bg-primary;
  height: 45px;
  border-bottom: 2px solid white;
}

#am-header-content{
  @extend .am-container;
}

.am-header-content-option-item{
  float: left;
  border-right: 2px grey solid;
  margin-right: 10px;
  padding-right: 10px;
}

#am-header-explore{

}

#am-header-explore:hover{
  background: $light-grey;
}

#am-header-explore-dropdown{
  background: $light-grey;
  width: 660px;
  padding:0px;
  margin-top: -1px;
}
#am-header-explore-dropdown .col-md-4{
  padding: 0px 15px;
}

.am-header-explore-dropdown-header{
  border-bottom: 1px solid $mid-grey;
  padding: 10px 0 5px;
  font-weight: bold;
}

.am-header-explore-dropdown-header .fa{
  font-size: 1.4em;
  margin-right: 2px;
}

.am-header-explore-dropdown-header .fa-star{
  color:$primary-color;
}

.am-header-explore-dropdown-header .fa-clock-o{
  color:$secondary-color;
}

.am-header-explore-dropdown-header .fa-list{
  color:#F56923;
}

.am-header-explore-dropdown-featured-oneitem{
  border-bottom: 1px solid $mid-grey;
  padding: 5px 0;
  font-size: 12px;
  height:60px;
}

.am-header-explore-dropdown-featured-oneitem-img{
  width:60px;
  height:50px;
  border-radius: 2px;
  float: left;
  background: $primary-color-light;
  margin-right: 5px;
}

.am-header-explore-dropdown-recent-oneitem-text{
  @extend .am-header-explore-dropdown-featured-oneitem;
  height: 45px;
}

.am-header-explore-dropdown-category-oneitem{
  width: 55px;
  height: 55px;
  border-radius: 100px;
  display: inline-block;
  background: red;
  border: 2px solid white;
  margin: 5px 2px;
}

.am-header-explore-dropdown-category-oneitem span{
  margin-top: 30px;
  position: relative;
  top: 55px;
  left: 10px;
  font-size: 14px;
}

.am-header-explore-dropdown-category-oneline{
  @extend .am-header-explore-dropdown-featured-oneitem;
  height: 90px;
}


.am-header-explore-dropdown-seeall{
  background: $mid-grey;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.am-header-explore-dropdown-seeall-featured{

}


.am-header-content-option-item:last-child{
  border-right: 0px;
}

#am-header-content-login{
  padding: 10px;
  background: white;
  border-radius: 3px;
  font-weight: bold;
}

#am-header-content-login:hover{
  background: $primary-color-light;
}

#am-header-content-user{
  padding: 0px 10px;
}

#am-header-content-search{
  display: inline-block;
}

#am-header-content-search input{
  background: $primary-color-light;
  border: 0px;
  height: 30px;
}

#am-header-content-search button{
  color:white;
  font-weight: bold;
  background: $primary-color;
  height: 30px;
}

.am-header-content-dropdown{
  width: 400px;
  padding:0px;
  margin-top: -1px;
}

.am-header-content-dropdown-header{
  height: 36px;
  background: #9b9b9b;
  text-align: left;
  padding: 10px;
}

.am-header-content-dropdown-body{
  padding: 0px 10px 10px;
}

.am-header-content-dropdown-oneday{
  margin: 5px 0;
}

.am-header-content-dropdown-oneday-icon{
  color: $light-grey;
}

.am-header-content-dropdown-oneitem{
  border-bottom: 2px solid #d4d4d4;
  overflow: auto;
  padding-top: 10px;
}

.am-header-content-dropdown-oneitem .col-md-3{
  padding: 10px 0;
  margin: auto;
  text-align: center;
}

.am-header-content-dropdown-oneitem .col-md-9{
  padding: 10px 0;
}

.am-header-content-dropdown-oneitem:last-child{
  border-bottom:0px;
}

.am-header-content-dropdown-icon{
  font-size: 1.4em;
  color: #9b9b9b;
  margin-top: -2px;
}


.am-header-content-dropdown-content{

}

.am-header-content-dropdown-title{
  float:left;
}

.am-header-content-dropdown-date{
  float:right;
}

.am-header-content-dropdown-question{
  color:$primary-color;
  font-weight: bold;
}

.am-header-content-dropdown-description{

}

.am-header-icon{
  font-size: 1.5em;
  height: 45px;
  padding-top: 10px;
}

.am-header-icon:hover{
  background: $mid-grey;
}

.am-header-icon:active{
  background: $mid-grey;
}

#am-header-options{
  margin-left: 80px;
}

#am-logo{
  font-size:4em;
  position: absolute;
  top: -10px;
}

#am-content{
  top: 40px;
  min-height: 600px;
  position: relative;
}


#am-footer{
  display: block;
  position: static;
  bottom: 0 !important;
  background-color: white;
  height:120px;
}

#am-footer-biglogo {
  display: inline;
  margin-top: -60px;
  position: absolute;
  margin-left: 5px;
  -webkit-box-reflect: below -40px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.1)));
  font-size: 6em;
}

#am-footer-content{
  @extend .am-container;
}

#am-footer-above{
  padding-top: 20px;
}

#am-footer-above-newsletter{
  padding-left: 70px;
}

#am-footer-above-newsletter-label{
  float: left;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.am-footer-above-icon{
  margin-top: -0px !important;
}

#am-footer-below{
}

.am-footer-icon{
  font-size: 2em;
  color: $light-grey;
  margin-left:10px;
  margin-top: -5px;
}

.am-footer-icon:hover{
  color: $primary-color-light;
}

